.homepage {
  background-color: #054a29;
  /* border: 2px blue solid; */
  display: grid;
  justify-items: center;
  align-items: center;
  width: 100vw;
}
h1 {
  color: #ffffff;
  font-family: "Noto Sans JP", sans-serif;
}
.homepage-profiles {
  background-color: #ffffff;
  width: 100vw;
  display: grid;
  justify-items: center;
}
